*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
h1{
    font-family: bold;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:default;
}
.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(Images/nit.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo-img{
    mix-blend-mode:multiply;
    opacity: 1;
}
.icon{
    display:none;
}
.formdata{
    height: 700px;
    width: 85%;
    background-color: transparent;
    padding: 2rem;
    border-radius: 20px;
    color: white;
}
.heading{
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    width: 40rem;
    margin-left: 22%;
    border-radius: 20px;
    padding-top: 1rem;
}
label{
    margin: 10px;
}
input{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
}
select{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 550px;
    text-align: center;
}
label p{
    margin-left: 5px;
    margin-bottom: 10px;
}
select p{
    margin-left: 5px;
    margin-bottom: 10px;
}
.preferences{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    margin-left: 8px;
}
#final{
    margin-top: 2rem;
    background-color: orange;
}
#extra{
    height: 1rem;
}