*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
h1{
    font-family: bold;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:default;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(Images/nit.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 150px;
}
#logo-img{
    mix-blend-mode:multiply;
    opacity: 1;
}
.nav-links{
    flex: 1;
    text-align: right;
    height: 50px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff0000;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    margin-top: 0rem;
    width: 90%;
    color: #fff;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-weight: bold;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff; 
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: yellow;
    border: 2px solid yellow;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.hero-btn:hover{
    color: black;
    border: 2px solid yellow;
    background:yellow;
    transition: 0.5s;
}
.icon{
    display:none;
}
.formdata{
    height: 700px;
    width: 85%;
    background-color: transparent;
    margin: 2rem 4rem 4rem 4rem;
    padding: 2rem;
    border-radius: 20px;
    color: white;
}
.heading{
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    margin-left: 23%;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    width: 40rem;
    margin-left: 22%;
    border-radius: 20px;
    padding-top: 1rem;
}
label{
    margin: 10px;
}
input{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
}
select{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 550px;
    text-align: center;
}
label p{
    margin-left: 5px;
    margin-bottom: 10px;
}
select p{
    margin-left: 5px;
    margin-bottom: 10px;
}
.preferences{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    margin-left: 8px;
}
#final{
    margin-top: 2rem;
    background-color: orange;
}
#extra{
    height: 1rem;
}