*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    height: 5rem;
    background-color: #d9b88f;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    padding: 0.7rem;
    margin: 0.1rem;
}
.hostel-section{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(about-banner.jpg);
    background-size: cover;
}
.box{
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 5%;
    height: 14rem;
    width: 14rem;
    color: yellow;
    border: 2px solid yellow;
    background-color: transparent;
    padding: 5px;
}
.box :hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.box-img{
    height: 10rem;
    width: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin : 0.5rem 1rem 0.5rem 1rem;
}
.box h3,p{
    text-align: center;
}
