*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.navbar{
    height: 5rem;
    background-color: #3b3f46;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    padding: 0.7rem;
    margin: 0.2rem;
    border-radius: 20px;
}
.hostel-section{
    height: 1700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(Images/boysgirls.jpg);
    background-size: cover;
}
.box{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    border-radius: 30px;
    height: 14rem;
    width: 74rem;
    color: yellow;
    border: 2px solid yellow;
    background-color: transparent;
    padding: 5px;
}
.box :hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.box-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img{
    margin-right: 2rem;
    height: 10rem;
    width: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    margin : 0.5rem 1rem 0.5rem 1rem;
}
.box-txt{
    margin-left: 2rem;
    width: 65%;
}
.box h3,p{
    text-align: center;
}