*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    height: 100px;
    background-color: aqua;
    
}
.hostel-section{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url("about-banner.jpg");
    background-size: cover;
}
.box{
    margin-left: 5rem;
    margin-right: 5rem;
    height: 14rem;
    width: 14rem;
    border: 2px solid black;
    background-color: aquamarine;
    padding: 5px;
}
.box-img{
    height: 10rem;
    width: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin : 0.5rem 1rem 0.5rem 1rem;
}
.box h3,p{
    text-align: center;
}
